.main {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  section {
    box-sizing: border-box;
    overflow: hidden;
  }
}
