body {
  margin: 0;
  background-color: #272727;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.8s ease-in;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.8s ease-in;
    width: 100%;
  }
}
